@model MyCloud.ViewModel.CloudUserViewModel
@section Scripts
{
    <link href="~/css/navigation.css" rel="stylesheet" />
    <link href="~/css/panel.css" rel="stylesheet" />
    <link href="~/css/circle.css" rel="stylesheet" />
    <link href="~/lib/animate-css/animate.min.css" rel="stylesheet" />
    <link href="~/lib/jquery-confirm2/dist/jquery-confirm.min.css" rel="stylesheet" />

    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="~/lib/angular-file-upload/dist/angular-file-upload.js"></script>
    <script src="~/lib/jquery-confirm2/dist/jquery-confirm.min.js"></script>

    <environment names="Development">
        <script src="~/js/uiPanel.js"></script>
        <script src="~/js/appPanel.js"></script>
        <script src="~/js/filesController.js"></script>
        <script src="~/js/foldersController.js"></script>
        <script src="~/js/addFilesController.js"></script>
    </environment>
    
    <environment names="Production">
        <script src="~/lib/app/uiPanel.js"></script>
        <script src="~/lib/app/appPanel.js"></script>
        <script src="~/lib/app/filesController.js"></script>
        <script src="~/lib/app/foldersController.js"></script>
        <script src="~/lib/app/addFilesController.js"></script>
    </environment>
}

<div ng-app="appPanel">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle fa fa-toggle-off" data-toggle="collapse" data-target="#myNavbar" id="js-navbar-toggle"></button>
                <a class="navbar-brand" asp-action="Panel" asp-controller="App" ui-sref="panel">
                    <img class="cloud-navigation-img" src="~/img/cloud-img-white.ico" alt="Brand"/>
                    <span>My cloud</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a ui-sref="folders"><i class="fa fa-folder" aria-hidden="true"></i> <p>Moje pliki</p></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-action="Logout" asp-controller="App"><i class="fa fa-sign-out"></i> <p> Wyloguj</p></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <ui-view></ui-view>
</div>
