@model MyCloud.ViewModel.CloudUserViewModel
@section Scripts
{
    <link href="~/css/navigation.css" rel="stylesheet" />
    <link href="~/css/panel.css" rel="stylesheet" />
    <link href="~/css/circle.css" rel="stylesheet" />
    <link href="~/lib/animate-css/animate.min.css" rel="stylesheet" />

    <script src="~/js/uiPanel.js"></script>

    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/lib/angular-file-upload/dist/angular-file-upload.js"></script>

    <script src="~/js/appPanel.js"></script>
    <script src="~/js/filesController.js"></script>
    <script src="~/js/addFilesController.js"></script>
}

<div ng-app="appPanel">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle fa fa-toggle-off" data-toggle="collapse" data-target="#myNavbar" id="js-navbar-toggle"></button>
                <a class="navbar-brand" asp-action="Panel" asp-controller="App">
                    <img class="cloud-navigation-img" src="~/img/cloud-img.ico" alt="Brand"/>
                    <span>My cloud</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="#!/files"><i class="fa fa-folder" aria-hidden="true"></i> <p>Moje pliki</p></a></li>
                    <li><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i> <p>Udostępnione</p></a></li>
                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i> <p>Ulubione</p></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i> <p> @Model.Username</p></a></li>
                    <li><a asp-action="Logout" asp-controller="App"><i class="fa fa-sign-out"></i> <p> Wyloguj</p></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-view></div>
</div>
