#sidebar {
    background-color: #73dd83;
    color: #ECECEE;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    transition: left ease 0.25s;
}

#sidebar.hide-sidebar {
    left: -200px;
    transition: left ease 0.25s;
}

#wrapper {
    margin-top: 5px;
    margin-left: 250px;
    margin-bottom: 20px;
    position: absolute;
    transition: margin-left ease 0.25s;
}

#wrapper.hide-sidebar {
    margin-left: 35px;
    transition: margin-left ease 0.25s;
}

#sidebar-btn {
    border: 0;
    background-color: transparent;
    color: #73dd83;
    font-size: 2em;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.btn-img-preview-group > label > i {
    padding-right: 5px;
}

.files-nav {
    line-height: 30px;
}

.files-nav a {
    color: white;
    cursor: pointer
}

.img-preview {
    display: inline-block;
    padding: 0 0 10px 10px;
}

.img-preview-wrapper {
    margin-top: 15px;
    text-align: center;
}

.btn-img-preview {
    font-size: 1.2em;
    color: #fff;
    margin-top: 3px;
    border: 0;
    border-radius: 5px;
}

.btn-img-preview-group {
    padding-bottom: 10px;
}

.btn-upload {
    background-color: #68d168;
    border-color: #4cae4c;
}

.btn-upload:hover, .btn-upload:focus {
    color: #ffffff;
}

.file-drop {
    color: #939393;
    border: dotted 2px lightgray;
    padding: 25px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

.file-over {
    background-color: #9DDAFC;
    border: dotted 2px #939393;
}

.btn-xs-preview {
    font-size: 0.9em;
}