#sidebar {
    background-color: #13A38D;
    color: #ECECEE;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    transition: left ease 0.25s;
}

#sidebar.hide-sidebar {
    left: -226px;
    transition: left ease 0.25s;
}

#wrapper {
    margin-top: 5px;
    margin-left: 250px;
    position: fixed;
    transition: margin-left ease 0.25s;
}

#wrapper.hide-sidebar {
    margin-left: 24px;
    transition: margin-left ease 0.25s;
}

#sidebar-btn {
    border: 0;
    background-color: transparent;
    color: #13a38d;
    font-size: 2em;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    cursor: pointer;
    color: #ECECEE;
    display: inline-block;
    font-weight: normal;
    width: 250px;
    line-height: 40px;
}

.inputfile:focus + label,
.inputfile + label:hover, #add-new-file-Btn > label > i:hover {
    color: #13a38d;
    background-color: #ececee;
}

#add-new-file-Btn {
    position: fixed;
    bottom: 25px;
}

#add-new-file-Btn > label > span {
    padding-left: 15px;
}

#add-new-file-Btn > label > i {
    line-height: 40px;
}