.cloud-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

img {
    width: 29%;
}

#myNavbar > ul > li > a {
    font-size: 1.1em;
}

/*Overrides*/

.navbar {
    min-height: 80px;
    margin-bottom: 20px;
    border-bottom: 2px solid 
    border-radius: 0;
    background-color: #4CD661;
}

@media (max-width: 400px) {
    img {
        width: 30%;
    }

    #js-navbar-toggle {
        display: inline-block;
    }
}

.navbar-brand {
    width: 200px;
    float: left;
    height: 80px;
    padding: 15px 15px;
    font-size: 24px;
    line-height: 50px;
    display: inline-flex;
}

.navbar-brand > span {
    color: #f0fff0;
}

.navbar-toggle {
    position: fixed;
    right: 5px;
    padding: 9px 10px;
    margin-top: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.navbar-brand > span {
    margin-left: 10px;
}

.navbar-nav > li > a {
    color: #fcfcfc;
    margin: 7px 7px;
}

.navbar-nav > li > a > p {
    margin: 0 0 0;
}

.navbar-nav > li {
    text-align: center;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #fcfcfc;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    color: #ffffff;
    opacity: 1;
}

.nav > li:hover:after, .nav > li:focus:after {
    text-decoration: none;
    width: 100%;
}

.navbar-nav > li > a > span {
    font-size: 1.3em;
}

.navbar-nav > li > a > i {
    font-size: 1.4em;
}

.fa.fa-toggle-off {
    display: none; 
    font: normal normal normal 14px FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


