.used-space-circle {
    text-align: center !important;
    padding-top: 30px;
}

.used-space-info {
    text-align: center !important;
    padding-top: 15px;
}

.raspberry-ico {
    padding-top: 65px;
    text-align: center !important;
}