.cloud-navbar {
    position: fixed;
    top: 0;
    width: 100%;
}

img {
    width: 29%;
}

#myNavbar > ul > li > a {
    font-size: 1.1em;
}

/*Overrides*/

.navbar {
    min-height: 80px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccccce;
    border-radius: 0;
}

@media (max-width: 400px) {
    img {
        width: 30%;
    }

    #js-navbar-toggle {
        display: inline-block;
    }
}

.navbar-brand {
    width: 200px;
    float: left;
    height: 80px;
    padding: 15px 15px;
    font-size: 24px;
    line-height: 50px;
    display: inline-flex;
}

.navbar-brand > span {
    color: #13A38D;
}

.navbar-toggle {
    position: fixed;
    right: 5px;
    padding: 9px 10px;
    margin-top: 30px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.navbar-brand > span {
    margin-left: 10px;
}

.navbar-nav > li > a {
    line-height: 50px;
    color: #13A38D;
}
.navbar-nav > li > a > span {
    font-size: 1.3em;
}

.navbar-nav > li > a > i {
    font-size: 1.4em;
}

.fa.fa-toggle-off {
    display: none; 
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


