@model MyCloud.ViewModel.LoginViewModel
@{
    ViewData["Title"] = "My Cloud";
}
@section Scripts {
    
    <link href="~/css/index.css" rel="stylesheet" />
    <script src="~/js/index.js"></script>
}

<div class="cloud-img-div col-md-4 col-md-offset-4">
    <img src="~/img/cloud-img.ico" id="cloud-img"/>
</div>

<div class="col-md-4 col-md-offset-4">
    <p id="title">My Cloud</p>
</div>

<form asp-action="Login" asp-controller="Home" asp-antiforgery="true" method="post" class="login-group col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
    <div class="input-group" id="input-user-div">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input asp-for="@Model.Username" class="form-control" type="text" placeholder="Username"/>
    </div>

    <div class="input-group" id="input-password-div">
        <span class="input-group-addon">
            <i class="fa fa-lock"></i>
        </span>

        <input asp-for="@Model.Password" id="js-input-password" class="form-control" type="password" placeholder="Password"/>

        <span class="input-group-addon" id="js-eye-switch">
            <i id="js-eye" class="fa fa-eye"></i>
        </span>
    </div>
    
    <button class="access-btn btn btn-success btn-lg center-block" id="log-in-btn" type="submit">Log in</button>

    <a asp-action="Register" asp-controller="Home">Register</a>
</form>

