<link href="../css/files.css" rel="stylesheet" />

<script src="../js/uiFiles.js"></script>

<div ng-controller="filesController as base64UserFiles">
    <div id="sidebar">
        <ul class="nav files-nav">
            <li>
                <a ng-click="toggleFilesInput = !toggleFilesInput">Dodaj pliki <i class="fa fa-plus fa-2x pull-right"></i></a>
            </li>
        </ul>
    </div>
    
    <div id="wrapper">
        <button id="sidebar-btn" class="fa fa-bars"></button>

        <div ng-controller="addFilesController">
            <div ng-if="toggleFilesInput" ng-include="'/views/addFiles.html'"></div>
        </div>

        <div class="img-preview-wrapper col-md-10 col-md-offset-3">
            <div class="img-preview" ng-repeat="code in base64UserFiles.codes">
                <div ng-download-preview="{base64Code: code}"></div>
            </div>
        </div>
    </div>

</div>