<link href="../css/files.css" rel="stylesheet" />

<script src="../js/uiFiles.js"></script>

<div ng-controller="filesController">
    <div id="sidebar">
        <ul class="nav files-nav">
            <li>
                <a ng-click="toggleFilesInput = !toggleFilesInput">Dodaj pliki <i class="fa fa-plus fa-2x pull-right"></i></a>
            </li>
        </ul>
    </div>

    <div id="wrapper">
        <div class="col-md-1">
            <button id="sidebar-btn" class="fa fa-bars"></button>
        </div>

        <div ng-if="toggleFilesInput" ng-include="'/views/addFiles.html'"></div>
    </div>
</div>